@model List<FileRepository.Models.Storage>

@{
    ViewBag.Title = "AddDependencies";
}

<h2>AddDependencies</h2>

@using (Html.BeginForm("AddDependencies", "Storage"))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5" style="height:300px;">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.Display("Select file to modify dependency")
                    </dt>
                    <dd>
                        @Html.DropDownList("Files", Model.Select(m => new SelectListItem() { Text = m.Name, Value = m.ServerLocation }))
                    </dd>
                </dl>

            </div>
            <div class="col-md-7" style="width:200px; height:300px;">
                @Html.Display("Select the dependent file from the list")
                @Html.ListBox("AllFiles", ViewBag.fileList as MultiSelectList, new { @class = "chzn-select" })
            </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Add" class="btn btn-default" />
            <br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}
